@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply text-white bg-blue-600 hover:bg-blue-700  font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center;
}
.closebtn {
    @apply text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center;
}
.delbtn {
    @apply text-white bg-red-600 hover:bg-red-800  font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center;
}
.cancelbtn {
    @apply text-gray-900 bg-white hover:bg-gray-100  border border-gray-200 font-medium inline-flex items-center rounded-lg text-base px-3 py-2.5 text-center;
}
.appbg {
    @apply bg-white dark:bg-gray-900 dark:text-white;
}
.modal-backdrop {
    @apply overflow-x-hidden overflow-y-auto fixed top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center h-modal sm:h-full flex;
}
.graytext {
    @apply text-gray-500 dark:text-gray-300;
}
.headerlabel {
    @apply p-4 text-left text-xs font-medium graytext uppercase;
}

.multiselect {
    @apply appbg;
}
.multiselect-tags-search {
    @apply appbg;
}
.multiselect-option {
    @apply appbg;
}
.multiselect-option:hover {
    @apply bg-gray-100 dark:bg-gray-800 dark:text-white;
}
.multiselect-search {
    @apply appbg;
}
.multiselect-no-results {
    @apply appbg;
}
::-webkit-scrollbar {
    @apply bg-gray-900 dark:bg-gray-100;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    @apply bg-gray-200 dark:bg-gray-800;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
